bin/Debug/net5.0/Physcs.dll
bin/Debug/net5.0/Physcs.exe
bin/Debug/net5.0/Physcs.pdb
bin/Debug/net5.0/Physcs.runtimeconfig.dev.json
obj/Physcs.csproj.nuget.dgspec.json
obj/Physcs.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net5.0/apphost.exe
obj/Debug/net5.0/Physcs.assets.cache
obj/Debug/net5.0/Physcs.csproj.CopyComplete
obj/Debug/net5.0/Physcs.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/Physcs.csproj.FileListAbsolute.txt
obj/Debug/net5.0/Physcs.dll
obj/Debug/net5.0/Physcs.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/Physcs.genruntimeconfig.cache
obj/Debug/net5.0/Physcs.pdb
